.active-jobs {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.active-jobs h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: rgb(47, 168, 83);;
  color: #fff;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-size: 18px;
}

td {
  font-size: 16px;
}

.button.btn {
  padding: 8px 16px;
  margin: 4px;
  background-color:rgb(20, 10, 46);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button.btn:hover {
  background-color:rgb(209, 219, 68);
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  margin: 0 10px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .active-jobs {
    margin: 10px;
    padding: 10px;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th {
    display: none; /* Hide table headers */
  }

  tr {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px;
  }

  td {
    display: block;
    text-align: right;
    font-size: 14px;
    border-bottom: none;
    padding: 8px;
  }

  td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
